.myHeading{
    font-size: 30px;
    width: 100%;
    margin:0px;
    box-shadow: 4px 4px 4px purple;
    font-family: cursive;
}
.note{
    font-size: 20px;
    color: yellow;
    white-space:wrap;
    font-family: "Rakkas", serif;
}
.footer{
    position:fixed;
    bottom:0;
    background-color: orange;
    color: red;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 25px;
    font-family: "Edu NSW ACT Foundation", cursive;
}
canvas{
    border: 5px dashed green;
    border-radius: 10px;
    box-shadow: 5px 5px 4px black;
}